* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #CCCCFF;
}

.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 130px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 130px;
  
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 100px;
  background-color: rgb(238, 255, 0);
  font-size: xxx-large;
}
.game {
  display: flex;
  flex-direction: row;

}

.game-info {
  margin-left: 20px;
  
}
.all-box{
  text-align: center;
  margin-top: 200px;
  margin-left: 750px;
}
